@model CNTTFAQ.Models.GUI_CAU_HOI

<!DOCTYPE html>
<html dir="ltr" lang="en">
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Gửi câu hỏi</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .site-btn:hover {
            background: #641fb1 !important;
            color: white !important;
        }
    </style>
</head>
<body>
    <div class="services-section spad">
        <div class="container">
            <div class="row">
                <form class="form-class" id="con_form" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="HO_TEN" placeholder="Họ và Tên" required
                                   oninvalid="this.setCustomValidity('Mời bạn nhập Họ và Tên vào ô này')"
                                   oninput="this.setCustomValidity('')" />
                            @Html.ValidationMessageFor(model => model.HO_TEN, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="ID_TAI_KHOAN" value="@User.Identity.Name" disabled />
                        </div>
                        <div class="col-sm-12">
                            <input type="text" name="CAU_HOI_MUON_HOI" placeholder="Tiêu đề câu hỏi" required
                                   oninvalid="this.setCustomValidity('Mời bạn nhập tiêu đề câu hỏi vào ô này')"
                                   oninput="this.setCustomValidity('')" />
                            @Html.ValidationMessageFor(model => model.CAU_HOI_MUON_HOI, "", new { @class = "text-danger" })

                            <textarea type="text" name="MO_TA" placeholder="Hãy nhập mô tả của bạn vào đây" required
                                      oninvalid="this.setCustomValidity('Mời bạn nhập mô tả vào ô này')"
                                      oninput="this.setCustomValidity('')"></textarea>
                            @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })

                            <button class="site-btn">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
