@model List<CNTTFAQ.Models.DANH_MUC>

@foreach (var item in Model)
{
    <div>
        <ul>
            <li>
                @Html.ActionLink(item.DANH_MUC1, "Index", "Questions", new { category = @item.ID }, null)
            </li>
        </ul>
    </div>
}
