<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Thống kê</title>
    <meta charset="UTF-8">
    <meta name="description" content="Labs - Design Studio">
    <meta name="keywords" content="lab, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Page header -->
    <div class="page-top-section">
        <div class="overlay" style="background-image:url('@Url.Content("~/Assets/images/backgrounds/beautifulbackground4.jpg")')"></div>
        <div class="container text-right">
            <div class="page-info">
                <h2>Thống kê</h2>
                <div class="page-links">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <span>Thống kê</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page header end-->
    <!-- page section -->
    <div class="page-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Single element -->
                    <div class="element">
                        <h4>Buttons</h4>
                        <div class="buttons">
                            <button class="site-btn mr20">Browse</button>
                            <button class="site-btn btn-2 mr20">Browse</button>
                            <button class="site-btn btn-3">Browse</button>
                        </div>
                    </div>
                    <!-- Single element -->
                    <div class="element">
                        <h4>Progress bars & Accordions</h4>
                        <div class="row">
                            <!-- Progress bars -->
                            <div class="col-md-6">
                                <div class="single-progress-item">
                                    <p>Development</p>
                                    <div class="progress-bar-style" data-progress="70"></div>
                                </div>
                                <div class="single-progress-item">
                                    <p>Design</p>
                                    <div class="progress-bar-style" data-progress="90"></div>
                                </div>
                                <div class="single-progress-item">
                                    <p>Marketing</p>
                                    <div class="progress-bar-style" data-progress="85"></div>
                                </div>
                                <div class="single-progress-item">
                                    <p>SEO</p>
                                    <div class="progress-bar-style" data-progress="90"></div>
                                </div>
                                <div class="single-progress-item">
                                    <p>Management</p>
                                    <div class="progress-bar-style" data-progress="75"></div>
                                </div>
                            </div>
                            <!-- Accordions -->
                            <div class="col-md-6">
                                <div class="site-accordions">
                                    <div class="panel-group" id="accordion">
                                        <!-- Single Accordions -->
                                        <div class="panel active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis</h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion1"></a>
                                            </div>
                                            <div id="accordion1" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed aut aliquid voluptatibus perferendis. Perferendis esse saepe natus cupiditate, eligendi expedita nulla laudantium omnis nobis delectus iusto quasi illo! Odit cupiditate.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordions -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Sed dapibus nunc vulputate mi fringilla, eu consequat</h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion2"></a>
                                            </div>
                                            <div id="accordion2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed aut aliquid voluptatibus perferendis. Perferendis esse saepe natus cupiditate, eligendi expedita nulla laudantium omnis nobis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordions -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Sed dapibus nunc vulputate mi fringilla, eu consequat</h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion3"></a>
                                            </div>
                                            <div id="accordion3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed aut aliquid voluptatibus perferendis. Perferendis esse saepe natus cupiditate.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single element -->
                    <div class="element">
                        <h4>Loaders</h4>
                        <!-- Progress Circle -->
                        <div class="row">
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6">
                                <div class="circle-progress">
                                    <div id="progress1"></div>
                                    <div class="progress-info">
                                        <h2>75%</h2>
                                        <p>Hard work</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6 col-sm-6">
                                <div class="circle-progress">
                                    <div id="progress2"></div>
                                    <div class="progress-info">
                                        <h2>83%</h2>
                                        <p>Creativity</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6 col-sm-6">
                                <div class="circle-progress">
                                    <div id="progress3"></div>
                                    <div class="progress-info">
                                        <h2>25%</h2>
                                        <p>Good luck</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6 col-sm-6">
                                <div class="circle-progress">
                                    <div id="progress4"></div>
                                    <div class="progress-info">
                                        <h2>95%</h2>
                                        <p>Development</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single element -->
                    <div class="element">
                        <h4>Milestones</h4>
                        <div class="row facts">
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6">
                                <div class="fact">
                                    <div class="fact-text">
                                        <h2>25k</h2>
                                        <h3>Followers</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6">
                                <div class="fact">
                                    <div class="fact-text">
                                        <h2>130</h2>
                                        <h3>Clients</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6">
                                <div class="fact">
                                    <div class="fact-text">
                                        <h2>238</h2>
                                        <h3>Projects</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-3 col-sm-6">
                                <div class="fact">
                                    <div class="fact-text">
                                        <h2>12</h2>
                                        <h3>Years of experience</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single element -->
                    <div class="element mb0">
                        <h4>Icon Box</h4>
                        <div class="row">
                            <!-- Single -->
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <div class="icon-box-text">
                                        <h2>Get in the lab</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <div class="icon-box-text">
                                        <h2>Projects online</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <div class="icon-box-text">
                                        <h2>SMART MARKETING</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page section end-->
    <!-- Footer section -->
    <footer class="footer-section">
        <h2>2017 All rights reserved. Designed by <a href="https://colorlib.com" target="_blank">SEPK24T-Team11</a></h2>
    </footer>
    <!-- Footer section end -->
</body>
</html>
