
@{
    ViewBag.Title = "CharterColumn";
}

<h2>CharterColumn</h2>
@*<div>
    <h1>Column Chart</h1>
</div>
<div>
    <img src="@Url.Action("CharterColumn")" alt="Chart"/>
</div>
<br />*@
<div>
    <h1>Pie Chart</h1>
</div>
<div>
    <img src="@Url.Action("PieChart")" alt="Chart" />
</div>
