<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Admin Login</title>

  
    <link href="@Url.Content("~/Assets/css/LoginCss/style.css")" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <!-- NORMALIZED CSS INSTALLED-->
    <!-- View settings for more info.-->
    <div id="container">
        <div id="inviteContainer">
            <div class="logoContainer"><img class="text" src="https://i.ibb.co/tHYHT5R/ommed-marca.png" /></div>
            <div class="acceptContainer">
                <form>
                    <h1>WELCOME BACK!</h1>
                    <div class="formContainer">
                        <div class="formDiv" style="transition-delay: 0.2s">
                            <p>EMAIL</p>
                            <input type="email" required="" />
                        </div>
                        <div class="formDiv" style="transition-delay: 0.4s">
                            <p>PASSWSORD</p>
                            <input type="password" required="" /><a class="forgotPas" href="#">FORGOT YOUR PASSWORD?</a>
                        </div>
                        <div class="formDiv" style="transition-delay: 0.6s">
                            <button class="acceptBtn" type="submit">Login</button><span class="register">Need an account?<a href="#">Register</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main JS-->
    <script src="@Url.Content("~/Assets/js/LoginJS/animation.js")"></script>

</body>

</html>
<!-- end document-->